# This file contains common pin mappings for the Fysetc Spider board.
# To use this config, the firmware should be compiled for the STM32F446.
# When calling "menuconfig", enable "extra low-level configuration setup"
# and select the "12MHz crystal" as clock reference
# For flashing, write the compiled klipper.bin to memory location 0x08000000

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm Spider TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths							[mcu] section
## Thermistor types						[extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location			[safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0		[stepper_z] section
## Probe points							[quad_gantry_level] section
## Min & Max gantry corner postions		[quad_gantry_level] section
## PID tune								[extruder] and [heater_bed] sections
## Fine tune E steps					[extruder] section
[include mainsail.cfg]
[include nevermore.cfg]
[include chamber-heater.cfg]

[exclude_object]

[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include shaketune.cfg]

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 6000
max_z_velocity: 50			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 500
square_corner_velocity: 5.0

# Adjusted using vector3d.shop/pages/califlower-calibration-calculator-mk2
[skew_correction]

[mcu]
##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper for Spider
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_230032000851363131363530-if00

##	If you want to use the Raspberry uart0 to communicate with Spider, 
##  you need to select 'Communication interface' to 'Serial (on USART1 PA10/PA9)' 
##  in 'make menuconfig' when you compile klipper and set the serial as below
##--------------------------------------------------------------------
#serial: /dev/ttyAMA0
## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command

##--------------------------------------------------------------------
## If you want to use Spider as USB to CAN bridge,you need to select 
## 'Communication interface' to 'USB to CAN bus bridge (USB on PA11/PA12)' 
##  in 'make menuconfig' when you compile klipper and follow the instruction on
## klipper docs to set the canbus id : http://www.klipper3d.org/CANBUS.html?h=can
##--------------------------------------------------------------------
canbus_uuid=41bbab53a272

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PA1
position_min: 0

##--------------------------------------------------------------------

position_endstop: 0
position_max: 350

##--------------------------------------------------------------------
homing_speed: 80   #Max 100
homing_retract_dist: 5
homing_positive_dir: false

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
diag_pin: ^PB14
# driver_SGTHRS: 65
interpolate: True
run_current: 1.0
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
##--------------------------------------------------------------------

##	Uncomment for 350mm build
position_endstop: 353
position_max: 353

##--------------------------------------------------------------------
homing_speed: 20  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE15
diag_pin: ^PB13
driver_SGTHRS: 69
interpolate: True
run_current: 1.0
hold_current: 0.7

sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
rotation_distance: 8
microsteps: 16
##  In Z- Position
endstop_pin: probe:z_virtual_endstop #^PA0
##--------------------------------------------------------------------

position_max: 310

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD10
uart_address: 0
interpolate: True
run_current: 1.1
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E1-MOT Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
rotation_distance: 8
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: True
run_current: 1.1
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E2-MOT Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
rotation_distance: 8
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: true
run_current: 1.1
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: !PC4
enable_pin: !PE8
rotation_distance: 8
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: true
run_current: 1.1
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[force_move]
enable_force_move: true

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0 # Spider 2.x
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.8
min_temp: 0
max_temp: 125

#####################################################################
#	Fan Control
#####################################################################

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0
fan_speed: 0.5

[fan_generic bed_fans]
pin: PB5

[bed_mesh]
speed: 300
horizontal_move_z: 5
##--------------------------------------------------------------------
mesh_min: 20, 20
mesh_max: 320, 320
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 10,10
algorithm: bicubic
mesh_pps: 2,2
adaptive_margin: 5
zero_reference_position: 175, 175

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 43200

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

##	Gantry Corners for TAP 350mm Build
##	Uncomment for TAP 350mm build
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
    50,50     # stepper_z   (A)
    50,300    # stepper_z1  (D)
    300,300   # stepper_z2  (C)
    300,50    # stepper_z3  (B)

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01   #0.0075
max_adjust: 7

#####################################################################
#	Mcu and Host Temperature
#####################################################################

[temperature_sensor main_mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 150

[temperature_sensor host]
sensor_type: temperature_host
min_temp: 0
max_temp: 150

#####################################################################
#	Displays
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]

#####################################################################
#	Macros
#####################################################################

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[gcode_macro list_sensors]
gcode:
  { action_respond_info(printer.heaters.available_heaters | join(', ')) }
  { action_respond_info(printer.heaters.available_sensors | join(', ')) }

[gcode_macro BRUSH_NOZZLE]
gcode:
    _STATUS_CLEANING
    G90
    G1 X270 Y7 Z0.5 F5000.0 ;Line up with brush

    G91
    G1 X+30 ; Wipe 1
    G1 X-30 ; Wipe 2
    G1 X+30 ; Wipe 3
    G1 X-30 ; Wipe 4
    G1 X+30 ; Wipe 5
    G1 X-30 ; Wipe 6
    G1 X+30 ; Wipe 7
    G1 X-30 ; Wipe 8
    G1 X+30 ; Wipe 9
    G1 X-30 ; Wipe 10

    G1 Y+20 Z+10 ; Lift the nozzle and avoid the chamber heater

[gcode_macro PRINT_START]
gcode:
  {% set TOOL = params.TOOL | default(0)| int %}
  {% set TOOL_TEMP = params.TOOL_TEMP | default(0) | int %}
  {% set BED_TEMP = params.BED_TEMP | default(0) | int %}

  _STATUS_BUSY
  {% if printer.tool_probe_endstop is defined %}
    M117 Disabling crash detection
    STOP_CRASH_DETECTION
  {% endif %}

  _STATUS_HEATING
  M117 Heating Bed
  M190 S{BED_TEMP}

  _STATUS_HOMING
  M117 Homing
  G28

  T0 ; Ensure we have T0 active for pre print calibrations.

  _STATUS_LEVELING
  M117 Quad Gantry Level
  QUAD_GANTRY_LEVEL

  G28 Z ; Home Z again after QGL

  _STATUS_MESHING
  BED_MESH_CALIBRATE ADAPTIVE=1 ; Run adaptive bed mesh

  ; Switch to the initial printing tool and preheat it.
  {% if TOOL > 0 %}
    M104 T0 S0 ; Shutdown T0.
      T{params.TOOL} ; Switch to the initial printing tool
  {% endif %}

  _STATUS_HEATING
  M117 Waiting on T{params.TOOL} S{TOOL_TEMP}C
  M109 S{TOOL_TEMP} ; Wait for the tool to reach the target temperature

  SET_FAN_SPEED FAN=exhaust_fan SPEED=1 ; Always run the exhaust to remove fumes

  _STATUS_BUSY
  BRUSH_NOZZLE

  {% if printer.tool_probe_endstop is defined %}
    M117 Re-enabling crash detection
    START_CRASH_DETECTION
  {% endif %}

  _STATUS_PRINTING

[gcode_macro PRINT_END]
gcode:
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

  M220 S100 ; Set Feed rate to 100%
  M221 S100 ; Set Flow rate to 100%

  SET_PRESSURE_ADVANCE ADVANCE=0 ; Disable pressure advance

  G92 E0 ; zero the extruder
  G1 E-2.0 F3600 ; retract filament
  M400 ; wait for buffer to clear

  T0 ; Switch to tool 0

  G90 ; absolute positioning
  G0 X{x_safe} Y{y_safe} Z{z_safe} F20000 ; move nozzle to remove stringing
  G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600 ; park nozzle at rear

  SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0 ; reset gcode offset

  {% for tn in printer.toolchanger.tool_numbers %}
      M104 S0 T{tn} ; shutdown tool heater
      M107 T{tn} ; shutdown tool fan
      SET_STEPPER_ENABLE STEPPER=extruder{tn if tn > 0 else ''} ENABLE=0 ; disable extruder stepper
  {% endfor %}

  # Turn off heaters
  TURN_OFF_HEATERS

  # Cooldown the chamber
  COOL_CHAMBER TARGET=40 EXHAUST=1.0 CHAMBER=0.7 POLL=10  

  M117 Print Finished

  _STATUS_OFF

[gcode_macro CANCEL_PRINT]
description: "Cancel the running print"
rename_existing: CANCEL_PRINT_KLIPPER
gcode:
  # Turn off heaters
  TURN_OFF_HEATERS

  # Cooldown the chamber
  COOL_CHAMBER TARGET=40 EXHAUST=1.0 CHAMBER=0.7 POLL=10  

  # Clear mesh
  BED_MESH_CLEAR
  SET_SKEW CLEAR=1

  _STATUS_OFF

  CANCEL_PRINT_KLIPPER
  

[gcode_macro Z_SPEED_TEST]
gcode:
  {% set v = params.V|default(30)|float %}   # mm/s
  {% set a = params.A|default(600)|float %}
  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=5 ACCEL={a} ACCEL_TO_DECEL={a/2} MAX_VELOCITY={v}
  G28 Z
  G1 Z5 F{v*60}
  G1 Z100 F{v*60}
  G1 Z5 F{v*60}
  G1 Z100 F{v*60}
  G1 Z5 F{v*60}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.467
#*# pid_ki = 2.028
#*# pid_kd = 201.828
#*#
#*# [chamber_heater]
#*# control = pid
#*# pid_kp = 5.765
#*# pid_ki = 0.163
#*# pid_kd = 51.017
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.148427, 0.133427, 0.115927, 0.120927, 0.128427, 0.140927, 0.133427, 0.155927, 0.148427, 0.140927
#*# 	0.098427, 0.070927, 0.078427, 0.068427, 0.070927, 0.080927, 0.088427, 0.093427, 0.100927, 0.080927
#*# 	0.060927, 0.033427, 0.015927, 0.018427, 0.028427, 0.043427, 0.038427, 0.020927, 0.020927, 0.038427
#*# 	0.025927, 0.005927, -0.014073, -0.014073, 0.005927, 0.008427, 0.000927, -0.004073, -0.001573, -0.006573
#*# 	0.045927, 0.013427, -0.004073, -0.011573, -0.004073, -0.006573, -0.001573, -0.014073, -0.026573, -0.019073
#*# 	0.048427, 0.018427, 0.010927, -0.009073, 0.008427, 0.000927, 0.000927, -0.009073, -0.006573, -0.036573
#*# 	0.063427, 0.020927, 0.023427, 0.020927, 0.020927, 0.018427, 0.020927, -0.004073, -0.001573, -0.009073
#*# 	0.065927, 0.050927, 0.033427, 0.043427, 0.038427, 0.048427, 0.048427, 0.025927, 0.038427, 0.030927
#*# 	0.080927, 0.058427, 0.048427, 0.050927, 0.075927, 0.073427, 0.073427, 0.063427, 0.080927, 0.055927
#*# 	0.123427, 0.093427, 0.088427, 0.083427, 0.095927, 0.098427, 0.110927, 0.113427, 0.108427, 0.110927
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 319.96999999999997
#*# min_y = 20.0
#*# max_y = 319.9699999999999
