# if you want to use this file in your actual tool changer then remove the `example_` from the filename.


# This file contains common pin mappings for the BIGTREETECH EBBT0
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBT0]
canbus_uuid: 4927fb01ac39
# python3 ~/katapult/scripts/flashtool.py -i can0 -u ac5f7df1a805 -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u ac5f7df1a805 -f ~/klipper/out/klipper.bin
[adxl345 T0]
cs_pin: EBBT0: PB12
spi_software_sclk_pin: EBBT0: PB10
spi_software_mosi_pin: EBBT0: PB11
spi_software_miso_pin: EBBT0: PB2
axes_map: x,z,y

[resonance_tester]
accel_chip: adxl345 T0
probe_points:
    175,175,30 # an example

[extruder]
step_pin: EBBT0: PD0
dir_pin: EBBT0: PD1
enable_pin: !EBBT0: PD2
heater_pin: EBBT0: PB13
sensor_type: MAX31865
sensor_pin: EBBT0: PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_temp: 0
max_temp: 300

microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.61849
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120

control: pid
pid_Kp: 26.135
pid_Ki: 9.170
pid_Kd: 18.622


[tmc2209 extruder]
uart_pin: EBBT0: PA15
interpolate: true
run_current: 0.85 #**
hold_current: 0.100
sense_resistor: 0.11 #**
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[heater_fan T0_hotend_fan]
pin: EBBT0: PA1
heater: extruder
heater_temp: 50.0

[fan_generic T0_partfan]
pin: EBBT0: PA0

[neopixel T0_leds]
pin: EBBT0:PD3
chain_count: 3
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0

[gcode_macro _T0_vars]
variable_logo_led_name:         "T0_leds" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "3" 
# A comma-separated list of indexes LEDs in the logo
variable_nozzle_led_name:       "T0_leds"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "1,2"
# A comma-separated list of indexes of LEDs in the nozzle
gcode:
    # This section is required.  Do Not Delete.

#change the tool numbers to the tool you are configuring, ie T0, T1, etc
[tool T0]
#change this too
tool_number: 0
#if this were T1, then this would be extruder1, etc
extruder: extruder
params_has_filament_sensor: True
#Change T0_partfan to tool number
fan: T0_partfan

#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 2.5
params_park_y: 6.5
params_park_z: 298.3
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: '3hump_ei'
params_input_shaper_freq_x: 125.2
params_input_shaper_damping_ratio_x: 0.065
params_input_shaper_type_y: 'ei'
params_input_shaper_freq_y: 58.0
params_input_shaper_damping_ratio_y: 0.049

[gcode_macro T0]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=0

[tool_probe T0]
pin: ^EBBT0:PB6
tool: 0
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
# More positive = More Squish
z_offset = -1.227 # TEXTURED PLATE
#z_offset = -1.290 #-1.390 # SMOOTH PLATE
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

[gcode_macro SHTT0]
variable_active: 0
variable_filament_consumed: 0
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    _TOOLCHANGER_DISABLE_FILAMENT_SENSORS
    SET_GCODE_VARIABLE MACRO=SHTT0 VARIABLE=active VALUE=1
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SELECT_TOOL T=0
  {% endif %}

[filament_switch_sensor filament_sensor_T0]
switch_pin: EBBT0:PB4
pause_on_runout: False
event_delay: 1.0
pause_delay: 0.1
runout_gcode:
  SET_GCODE_VARIABLE MACRO=SHTT0 VARIABLE=filament_consumed VALUE=1
  _RUNOUT_INIT
insert_gcode:
  M118 T0 reports: Filament Detected
  SET_GCODE_VARIABLE MACRO=SHTT0 VARIABLE=filament_consumed VALUE=0
  _FILAMENT_LOAD_INIT TOOL=0

[gcode_button filament_unload_t0]
pin: ^EBBT0:PB3 # remove the negation "!" for sensor v1 - use just PA9 as example
press_gcode:  # filament unload procedure   
  _UNLOAD_TANGLE_INIT TOOL=0
release_gcode: # do not add any macro call here
